<h1><%= @user.username %>'s goals</h1>

<% if @user.id == current_user.id %>
  <ul>
    <% @user.goals.each do |goal| %>
      <li><%= goal.body %></li>
      <li><%= goal.completed ? "completed" : "unfinished" %></li>
      <li></li>
    <% end %>
  </ul>
<% else %>
  <ul>
    <% @user.goals.each do |goal| %>
      <% if goal.access == "PUBLIC" %>
        <li><%= goal.body %></li>
        <li><%= goal.completed ? "completed" : "unfinished" %></li>
        <li></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
